name: 'Print images digest'

on:
  workflow_dispatch:
    inputs:
      version:
        description: 'Image Version'
        required: false
        default: 'latest'
        type: string 
jobs:
  print-images-sha:
    runs-on: ubuntu-latest
    name: Print digest for images
    steps:
      - name: Harden the runner (Audit all outbound calls)
        uses: step-security/harden-runner@95d9a5deda9de15063e7595e9719c11c38c90ae2 # v2.13.2
        with:
          egress-policy: audit

      - name: Checkout
        uses: actions/checkout@f43a0e5ff2bd294095638e18286ca9a3d1956744 # v3.6.0
        with:
          path: digest

      - name: Run script
        working-directory: digest
        run: |
          sh ./docker/scripts/get_image_digest.sh $VERSION
        env: 
          VERSION: ${{ github.event.inputs.version }}
